<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOSCLEAN DETAILING</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kelly+Slab&family=Ruslan+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../Main-links/prices.css">
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="../script.js" defer></script>
    <link rel="icon" type="image/svg+xml" href="../favicon/favicon.svg">
    <link rel="icon" type="image/png" href="../favicon/favicon.png">
</head>
<body>
    <header>
        <nav>
            <a href="../index.html" class="logo0"><div class="logo"></div><div>MOSCLEAN DETAILING</div></a>            
            <ul class="menu">
                <li><a href="../Main-links/prices.html">ЦЕНЫ</a></li>
                <li><a href="../Main-links/about.html">О НАС</a></li>
                <li><a href="../index.html#secPict0">УСЛУГИ</a></li>
                <li><a href="../Main-links/about.html">ОТЗЫВЫ</a></li>
                <li><a href="../Main-links/about.html">КОНТАКТЫ</a></li>
            </ul>
            <div class="menu2" @click="openMenu()"></div>
            <div class="triangle" v-if="ifOpenedMenu"></div>
            <div class="menuOptions" v-if="ifOpenedMenu">
                <ul class="optionsInMenu">
                    <li><a href="../Main-links/prices.html">ЦЕНЫ</a></li>
                    <li><a href="../Main-links/about.html">О НАС</a></li>
                    <li><a href="../index.html#secPict0">УСЛУГИ</a></li>
                    <li><a href="../Main-links/about.html">ОТЗЫВЫ</a></li>
                    <li><a href="../Main-links/about.html">КОНТАКТЫ</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="title">
        <p>Прайс-лист на ремонт кузова автомобиля</p>
    </div>
    <section class="price1">
        <div class="topic">
            <p>Механическая полировка кузова автомобиля</p>
        </div>
        <hr>
        <div class="prices">
            <p>Восстановительная полировка</p>
            <p>от 4 000 до 14 000 руб.</p>
        </div>
        <div class="prices">
            <p>Удаление мелких царапин на одной детали</p>
            <p>от 500 руб.</p>
        </div>
        <div class="prices">
            <p>Полировка фар</p>
            <p>от 500 руб. за 1 шт.</p>
        </div>
        <div class="prices specialPrice">
            <p>Защитное покрытие</p>
            <div class="optionsInPrices">
                <div class="prices">
                    <p>Полимерное покрытие</p>
                    <p>от 2 000 руб</p>
                </div>
                <div class="prices">
                    <p>Жидкое стекло</p>
                    <p>от 5 000 до 8 000 руб.</p>
                </div>
                <div class="prices">
                    <p>Керамическое покрытие</p>
                    <p>	от 22 000 до 35 000 руб.</p>
                </div>
            </div>
        </div>

    </section>
    <section class="price2">
        <div class="topic">
            <p>Удаление вмятин без дальнейшей покраски</p>
        </div>
        <hr>
        <div class="prices">
            <p>Вмятины с размером до 3 см</p>
            <p>от 1 000 до 2 500 руб.</p>
        </div>
        <div class="prices">
            <p>Вмятины с размером от 3 см. до 10 см.</p>
            <p>от 2 000 до 5 500 руб.</p>
        </div>
        <div class="prices specialPrice">
            <p>Удаление вмятин без покраски с учетом особой сложности работ в зависимости от растяжении металла и расположения на кузове автомобиля.</p>
            <div class="optionsInPrices">
                <div class="prices">
                    <p>Вмятины с размером до 3 см</p>
                    <p>от 1 500 до 4 000 руб.</p>
                </div>
                <div class="prices">
                    <p>Вмятины с размером от 3 см. до 10 см.</p>
                    <p>от 2 000 до 7 000 руб.</p>
                </div>
                <div class="prices">
                    <p>Вмятины с размером от 10 см. до 30 см.</p>
                    <p>от 4 500 до 11 000 руб.</p>
                </div>
            </div>
        </div>

    </section>
    <section class="price3">
        <div class="topic">
            <p>Удаление сколов и царапин методом локальной покраски</p>
        </div>
        <hr>
        <div class="prices">
            <p>Устранение сколов методом локальной покраски (финальная цена согласовывается в каждом случае)</p>
            <p>от 4 000 руб.</p>
        </div>
    </section>
    <section class="price4">
        <div class="topic">
            <p>Ремонт стекол</p>
        </div>
        <hr>
        <div class="prices">
            <p>Ремонт скола на стекле, размер 0,5 см.</p>
            <p>1 000 руб.</p>
        </div>
        <div class="prices">
            <p>Ремонт скола на стекле, размер 1,0 см.</p>
            <p>1 500 руб.</p>
        </div>
        <div class="prices">
            <p>Ремонт скола на стекле, размер 1,5 см.</p>
            <p>2 000 руб.</p>
        </div>
        <div class="prices">
            <p>Ремонт скола на стекле, размер 2,0 см.</p>
            <p>2 400 руб.</p>
        </div>
        <div class="prices">
            <p>Остановка трещины на лобовом стекле</p>
            <p>1 000 руб.</p>
        </div>
        <div class="prices">
            <p>Заливка трещины на лобовом стекле 1 см.</p>
            <p>150 руб.</p>
        </div>
    </section>
    <section class="ending">
        <div class="endings">
            <p>Подкраска сколов входит в стоимость полировок !</p>
        </div>
        <div class="endings">
            <p>Восстановительная полировка включает в себя стоимость полимерного покрытия !</p>
        </div>
        <div class="endings">
            <p>Финальная стоимость работ зависит от класса автомобиля и согласовывается сторонами в каждом случае.</p>
        </div>
    </section>
    <footer>
        <section>
            <a href="tel:+7917515-55-15">
                <div class="img1"></div>
            </a><a href="https://www.youtube.com/" target="_blank">
                <div class="img2"></div>
            </a><a href="https://www.instagram.com/" target="_blank">
                <div class="img3"></div>
            </a><a href="mailto: aaaa@google.com" target="_blank">
                <div class="img4"></div>
            </a>
        </section>
        <div id="copi">
        &copy;MOSCLEAN DETAILING {{ date }}
        </div>
    </footer>
</body>
</html>