<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOSCLEAN DETAILING</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kelly+Slab&family=Ruslan+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="options/options.css">
    <link rel="stylesheet" href="options/optPictures.css">
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="script.js" defer></script>
    <link rel="icon" type="image/svg+xml" href="favicon/favicon.svg">
    <link rel="icon" type="image/png" href="favicon/favicon.png">
</head>
<body>
    <header>
        <nav>
            <a href="index.html" class="logo0"><div class="logo"></div><div>MOSCLEAN DETAILING</div></a>            
            <ul class="menu">
                <!-- <li><a href="header-links/ourProjects.html">наши работы</a></li> -->
                <li><a href="Main-links/prices.html">ЦЕНЫ</a></li>
                <li><a href="Main-links/about.html">О НАС</a></li>
                <li><a href="#secPict0">УСЛУГИ</a></li>
                <li><a href="Main-links/about.html">ОТЗЫВЫ</a></li>
                <li><a href="Main-links/about.html">КОНТАКТЫ</a></li>
            </ul>
        </nav>
    </header>
    <!-- // --> 
    <div class="mainImg">
        <div class="company">
            <p class="MI-text1">MOSCLEAN</p>
            <p class="MI-text1 MI-text1-2">DETAILING</p>
            <a class="MI-text2" href="Main-links/contact.html"><p class="MI-text2-p">свяжитесь с нами!</p></a>
            <!-- href="tel:+7917515-55-15" -->
        </div>
 
    </div>
    <div class="secPict0" id="secPict0"><p class="secPict0-p">Услуги которые мы предоставляем:</p></div>
    <div class="secPict" v-bind:style="chosenOption">
        <div class="secPict-0" @click="chooseOption(1)" v-bind:style="chosenOption1"><p v-bind:style="chosenOption1Color" class="part2">удаление вмятин без покраски</p></div>
        <div class="secPict-0" @click="chooseOption(2)" v-bind:style="chosenOption2"><p v-bind:style="chosenOption2Color" class="part2">удаление царапин без покраски</p></div>
        <div class="secPict-0" @click="chooseOption(3)" v-bind:style="chosenOption3"><p v-bind:style="chosenOption3Color" class="part2">восстановительная полировка</p></div>
        <div class="secPict-0" @click="chooseOption(4)" v-bind:style="chosenOption4"><p v-bind:style="chosenOption4Color" class="part2">Защитные покрытия</p> <p v-bind:style="chosenOption4Color" class="part2">(керамика, жидкое стекло)</p></div>

        <div class="option" v-if="Option==1">
            <div class="zaglav">
                <p>об этой опции</p>
                <p>Все что Вам нужно знать об этой услуге, вы уже прочитали в названии, 
                    главное условие удаления вмятин без покраски, отсутствие сколов и трещин на ЛКП, 
                    но и в таких случаях при согласовании с клиентами мы проводим работы.</p>
            </div>
            <div class="primers">
                <p>примеры наших работ:</p>
                <div class="primer"> 
                    <div class="pict opt2-prt1"><p class="txt">до</p></div>
                    <div class="pict opt2-prt2"><p class="txt">после</p></div>
                </div>
                <div class="primer">
                    <div class="pict opt2-prt3"><p class="txt">до</p></div>
                    <div class="pict opt2-prt4"><p class="txt">после</p></div>
                </div>
                <div class="primer">
                    <div class="pict opt2-prt5"><p class="txt">до</p></div>
                    <div class="pict opt2-prt6"><p class="txt">после</p></div>
                </div>
                <div class="primer">
                    <div class="pict opt2-prt7"><p class="txt">до</p></div>
                    <div class="pict opt2-prt8"><p class="txt">после</p></div>
                </div>
                <div class="primer">
                    <div class="pict opt2-prt9"><p class="txt">до</p></div>
                    <div class="pict opt2-prt10"><p class="txt">после</p></div>
                </div>
            </div>
        </div>
        <div class="option" v-if="Option==2">
            <div class="zaglav">
                <p>об этой опции</p>
                <p>Удаление царапин- услуга позволяющая удалить глубокие и объёмные царапины используя
                     специальные материалы для сохранения заводского окраса детали.</p>
            </div>
            <div class="primers">
                <p>примеры наших работ:</p>
                <div class="primer"> 
                    <div class="pict opt3-prt1"><p class="txt">до</p></div>
                    <div class="pict opt3-prt2"><p class="txt">после</p></div>
                </div>
                <div class="primer">
                    <div class="pict opt3-prt5"><p class="txt">до</p></div>
                    <div class="pict opt3-prt6"><p class="txt">после</p></div>
                </div>
                <div class="primer">
                    <div class="pict opt3-prt7"><p class="txt">до</p></div>
                    <div class="pict opt3-prt8"><p class="txt">после</p></div>
                </div>
                <div class="primer"> 
                    <div class="pict opt3-prt11"><p class="txt">до</p></div>
                    <div class="pict opt3-prt12"><p class="txt">после</p></div>
                </div>
                <div class="primer">
                    <div class="pict opt3-prt13"><p class="txt">до</p></div>
                    <div class="pict opt3-prt14"><p class="txt">после</p></div>
                </div>
                <div class="primer">
                    <div class="pict opt3-prt15"><p class="txt">до</p></div>
                    <div class="pict opt3-prt16"><p class="txt">после</p></div>
                </div>
                <div class="primer">
                    <div class="pict opt3-prt17"><p class="txt">до</p></div>
                    <div class="pict opt3-prt18"><p class="txt">после</p></div>
                </div>
            </div>
        </div>
        <div class="option" v-if="Option==3">
            <div class="zaglav">
                <p>об этой опции</p>
                <p>
                    Восстановительная полировка предназначена для восстановления эстетических характеристик кузова авто — 
                    она устраняет мелкие царапины, потёртости, трещины, следы от птичьего помета и почек деревьев,
                     возвращает лакокрасочному покрытию блеск и гладкость.
                     Преимуществ у услуги множество — с помощью нее автомобилю можно вернуть «вторую жизнь»,
                     чтобы наслаждаться визуальным эффектом или выгодно продать в будущем.</p>
            </div>
            <div class="primers">
                <p>примеры наших работ:</p>
                <div class="primer"> 
                    <div class="pict opt4-prt1"></div>
                </div>
                <div class="primer"> 
                    <div class="pict opt4-prt2"></div>
                </div>
                <div class="primer"> 
                    <div class="pict opt4-prt3"></div>
                </div>
            </div>
        </div>
        <div class="option" v-if="Option==4">
            <div class="zaglav">
                <p>об этой опции</p>
                <ul>
                    <li>Уменьшает загрязнение ЛКП и упращает ее очистку</li>
                    <li>Защищает краску от выгорания и сохраняет естественный цвет</li>
                    <li>Уменьшает вероятность возникновения сколов</li>
                    <li>Уменьшает риск образования и развития коррозии</li>
                    <li>Снижает риск повреждения ЛКП на мойках с низким качеством химии и низким уровнем подготовки мойщиков</li>
                    <li>Создает эффект антиграфити</li>
                    <li>Усиливает блеск, глубину и насыщенность цвета ЛКП</li>
                </ul>
            </div>
            <div class="primers">
                <p>примеры наших работ:</p>
                <div class="primer"> 
                    <div class="pict opt5-prt1"></div>
                </div>
                <div class="primer"> 
                    <div class="pict opt5-prt2"></div>
                </div>
            </div>
    </div>

        <!-- <a href="options/option1.html" class="secPict-0">
                <div class="part1 secPict1"></div>
                <p class="part2">косметический ремонт авто</p>
        </a>
        <a href="options/option2.html" class="secPict-0">
            <div class="part1 secPict2"></div>
            <p class="part2">удаление вмятин без покраски</p>
        </a>
        <a href="options/option3.html" class="secPict-0">
            <div class="part1 secPict3"></div>
            <p class="part2">удаление царапин без покраски</p>
        </a>
        <a href="options/option4.html" class="secPict-0">
            <div class="part1 secPict4"></div>
            <p class="part2">восстановительная полировка</p>
        </a>
        <a href="options/option5.html" class="secPict-0">
            <div class="part1 secPict5"></div> 
            <p class="part2">Защитные покрытия (керамика, жидкое стекло)</p>
        </a> -->
            <!-- <div class="secPict-0" @click="changePict1()">
                <div class="part1">
                    <div v-if="pict1" class="paints secPict-1-1"></div>
                    <div v-else class="paints secPict-1-2"></div>
                </div>
                <div class="part2">
                    косметический ремонт авто
                </div>
            </div>
            <div class="secPict-0" @click="changePict2()">
                <div class="part1">
                    <div v-if="pict2" class="paints secPict-2-1"></div>
                    <div v-else class="paints secPict-2-2"></div>
                </div>
                <div class="part2">
                    удаление вмятин и царапин без покраски
                </div>
            </div>
            <div class="secPict-0" @click="changePict3()">
                <div class="part1">
                    <div v-if="pict3" class="paints secPict-3-1"></div>
                    <div v-else class="paints secPict-3-2"></div>
                </div>
                <div class="part2">
                    восстановительная палировка
                </div>
            </div>
            <div class="secPict-0" @click="changePict4()">
                <div class="part1">
                    <div v-if="pict4" class="paints secPict-4-1"></div>
                    <div v-else class="paints secPict-4-2"></div>
                </div>
                <div class="part2">
                    керамика, жидкое стекло
                </div>
            </div> -->
    </div>
    <!-- // -->
    <footer>
        <section>
            <a href="tel:+7917515-55-15">
                <div class="img1"></div>
            </a><a href="https://www.youtube.com/" target="_blank">
                <div class="img2"></div>
            </a><a href="https://www.instagram.com/" target="_blank">
                <div class="img3"></div>
            </a><a href="mailto: aaaa@google.com" target="_blank">
                <div class="img4"></div>
            </a>
        </section>
        <div id="copi">
        &copy;MOSCLEAN DETAILING {{ date }}
        </div>
    </footer>
</body>
</html> 