* {
    font-family: 'Kelly Slab', cursive;
    /* font-family: 'Ruslan Display', cursive; */
}

body {
    margin: 0;
    background-image: linear-gradient(to right, rgb(190, 27, 27),rgb(240, 42, 42) , rgb(150, 25, 25));
    display: flex;
    flex-direction: column;
}
header {
    height: 40px;
    background-color: rgb(71, 71, 71);
    width: 100%;
}
.logo {
    background-image: url(logo/tire-svgrepo-com.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
} 
nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    padding: 0 30px;
    font-family: inherit;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
ul {
    margin: 0;
}
a {
    color: inherit;
    text-decoration: none;
}
.menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* font-family: Andale Mono, monospace; */
    font-weight: bold;
    font-size: 15px;
}


.mainImg {
    background-image: url(cars/red-sports-car-ferrari-png-23.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    width: 100%;
    height: 500px;
    /* background-color: rgb(25, 26, 36); */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainImg:hover {
    transform: scale(1.1);
    transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}

.company {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: violet; */
}


.MI-text1 {
    color: rgb(212, 212, 212);
    font-size: 50px;
    margin: 0;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-weight: bold;
}
.MI-text2 {
    width: 100%;
    border: 0;
    border-radius: 10px;
    background-color: rgb(0, 0, 0, 0.7);
    color: rgb(255, 208, 0);
    text-shadow: rgb(250, 250, 5, 0.3) 1px 1px; 
    /* font-family: Andale Mono, monospace; */
    font-weight: bold;
    font-size: large;
}
/* .MI-text2:active {
    background-color: rgb(250, 58, 24);
} */
.MI-text2:hover {
    background-color: rgb(0, 0, 0, 0.9);
}

.secPict0 {
    background-color: rgb(0, 0, 0);
    color: white;
}
.secPict0-p {
    font-size: xx-large;
    /* font-family: Andale Mono, monospace; */
    font-family: 'Kelly Slab', cursive;
    /* font-family: 'Ruslan Display', cursive; */
    font-weight: bold;
    margin-left: 5%;
}
.secPict {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    padding: 2% 0;
    margin-left: auto;
    margin-right: auto;
}
.secPict div {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', serif;
    font-weight: 700;
}
.secPict-0 {
    width: 450px;
    height: 350px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-color: rgb(224, 224, 224);
    border-radius: 10px;
    background-position-y: top;
    background-position-y: center;
    margin: 7px; 

    display: flex;
    align-items: flex-end;
    justify-content: center;

}
.secPict-0:hover {
    transform: scale(1.05);
    transition: transform 3s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}

.secPict-1 {
    background-image: url(cars/1612265192_173-p-mashina-na-fioletovom-fone-247.png);
}
.secPict-2 {
    background-image: url(cars/568e86ce84d19c94af6a47280331c6a6.png);
}
.secPict-3 {
    background-image: url(cars/avto-21-0.png);
}
.secPict-4 {
    background-image: url(cars/1614523760_7-p-tank-na-belom-fone-7.png);
}

footer {
    margin-top: 100px;
    display: flex;
    height: 70px;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    background-color: rgb(71,71,71);
    color: rgb(255, 255, 255);
    font-family: Andale Mono, monospace;
    font-weight: bold;
}
.footer div {
    display: flex;
    flex-direction: column;
}

.foot-num {
    max-height: 50px;
}
.foot-em {
    max-height: 50px;

}

.foot-num-1 {
    font-size: 15px;
    margin: 0;
}
.foot-em-1 {
    font-size: 15px;
    margin: 0;
}
.foot-num-2 {
    font-size: 20px;
    margin: 0;
}
.foot-em-2 {
    font-size: 20px;
    margin: 0;
}

@media screen and (min-width: 539px) and (max-width: 992px) {
    .mainImg {
        height: 250px;
        margin-top: 32px;
    }
    .secPict0-p {
        font-size: 25px;
    }
    .secPict0 {
        margin-top: 50px;
    }
    .secPict {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-around;
    }
    .secPict-0 {
        width: 300px;
        height: 220px;
        padding: 0;
    }
    .MI-text1 {
        font-size: 30px;
    }
    .MI-text2 {
        font-size: 10px;
    }
    footer {
        margin-top: 150px;
    }

    .foot-num-1 {
        font-size: 13px;
    }
    .foot-em-1 {
        font-size: 13px;
    }
    .foot-num-2 {
        font-size: 17px;
    }
    .foot-em-2 {
        font-size: 17px;
    }
}


@media screen and (width: 540px) {
    .secPict0 {
        margin-top: 0;
    }
    .secPict {
        margin-bottom: 10px;
        display: flex;
        justify-content: space-around;
    }
    .secPict-0 {
        width: 200px;
        height: 160px;
        padding: 0;
    }
    footer {
        margin-top: 20px;
    }
}
@media screen and (width: 912px) {
    .mainImg {
        margin-top: 50px;
    }
    .secPict0 {
        margin-top: 50px;
    }
    .secPict-0 {
        width: 400px;
        height: 280px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .MI-text1 {
        font-size: 30px;
    }
    .MI-text2 {
        font-size: 10px;
    }
    footer {
        margin-top: 170px;
    }
}


@media screen and (max-width: 538px) {
    * {
        font-size: 10px;
    }
    .secPict0-p {
        font-size: 10px;
    }
    .mainImg {
        height: 150px;
    }
    .MI-text1 {
        font-size: 20px;
    }
    .MI-text2 {
        font-size: 7px;
    }
    .secPict {
        display: flex;
        justify-content: center;
    }
    .secPict-0 {
        width: 200px;
        height: 150px;
        padding: 0;
    }


    footer {
        margin-top: 20px;
    }
    .foot-num-1 {
        font-size: 5px;
    }
    .foot-em-1 {
        font-size: 5px;
    }
    .foot-num-2 {
        font-size: 7px;
    }
    .foot-em-2 {
        font-size: 7px;
    }
}
@media screen and (width: 280px) {
    .company {
        margin-bottom: 25px;
    }
}