* {
    /* font-family: 'Ruslan Display'; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

body {
    margin: 0;
    background-image: linear-gradient(to right, rgb(131, 17, 17),rgb(179, 29, 29) , rgb(75, 12, 12));
    display: flex;
    flex-direction: column;
}
header {
    height: 40px;
    background-color: rgb(71, 71, 71); 
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

.logo0 {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.logo {
    background-image: url(logo/tire-svgrepo-com.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
} 
nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    padding: 0 30px;
    font-family: inherit;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
ul {
    margin: 0;
} 
ul li {
    min-width: 24px;
}
a {
    color: inherit;
    text-decoration: none;
}

header a:active {
    color: crimson;
}

.menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* font-family: Andale Mono, monospace; */
    font-weight: bold;
    font-size: 15px;
}


.mainImg {
    background-image: url(cars/red-sports-car-ferrari-png-23.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    width: 90%;
    height: 500px;
    /* background-color: rgb(25, 26, 36); */
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);

}
.mainImg:hover {
    transform: scale(1.1);
}

.company {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: violet; */
}


.MI-text1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
    margin: 0;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Kelly Slab';
    font-weight: bold;
    letter-spacing: 3px;
    text-shadow: 2px 2px rgb(82, 82, 82);
}
.MI-text1-2 {
    color: rgb(82, 82, 82);
    text-shadow: -1px -1px rgb(255, 255, 255);
}
.MI-text2 {
    width: 80%;
    height: 50px;
    border: 0;
    border-radius: 10px;
    /* background-color: rgba(255, 217, 0, 0.9); */
    background-color: whitesmoke;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 25px 0 rgba(255, 255, 255, 0.9);
    /* text-shadow: rgba(250, 5, 5, 0.3) 1px 1px;  */
    display: flex;
    justify-content: center;
    align-items: center;
 
    transition: all .25s ease-in-out;
}


.MI-text2 p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: large;
}

.MI-text2:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(255, 255, 255);
    /* box-shadow: 20px 20px rgba(204, 173, 0), -20px -20px rgba(204, 173, 0); */
    box-shadow: 0px 1px 2px 5px rgba(255, 255, 255, 0.7),
            1px 2px 4px 0px rgba(255, 255, 255, 0.7),
            2px 4px 8px 0px rgba(255, 255, 255, 0.7),
            2px 4px 16px 0px rgba(255, 255, 255, 0.7);
    /* text-shadow: .5px .5px whitesmoke; */
}
.MI-text2:active {
    background-color: rgb(170, 22, 22);
    color: wheat;
}

.secPict0 {
    height: 20vh;
    background-color: white;
    color: rgb(63, 63, 63);
    display: flex;
    justify-content: center;
    align-items: center;
}
.secPict0-p {
    /* font-size: x-large;
    font-family: Andale Mono, monospace; 
    font-family: 'Kelly Slab', cursive;
    font-family: 'Ruslan Display', cursive; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: xx-large;
}


.secPict {
    width: 100%;
    height: auto;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
    align-content: center;
    justify-content: center;
    padding: 2% 0;
    gap: 30px;
}
.secPict-0 {
    /* width: calc(33% - 42px); */
    /* padding-top: 50px; */
    width: 500px;
    height: 380px;
    background-repeat: no-repeat;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 7px;
    padding: 15px 0; 
    box-shadow: 0px 1px 2px 0px rgba(88, 88, 88, 0.7);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: all .5s ease-in-out;

}
.secPict-0:hover {
    transform: scale(1.05);
    background-color: white; 
    box-shadow: 2px 4px 5px 2px rgba(128, 128, 128, 0.7);
}

.secPict-0:hover>.part1 {
    /* transition: all .5s ease-in-out;
    transform: scale(1.2); */
    opacity: 0.8;
}

/* .secPict-0:hover>.part2 {
    color: rgb(71, 71, 71);
} */

.part1 {
    /* background-color: white;
    border-radius: 15px;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center; */
    width: 90%;
    height: 90%;
    border-radius: 3px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
}
.part2 {
    color: rgb(63, 63, 63);
    padding-top: 10px;
    margin: 0;
    font-size: large;
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* .secPict1 {
    background-image: url(cars/d4d364a1-017d-499c-8b6d-29300fd030a6.jpeg);
} */
.secPict2 {
    background-image: url(cars/d4d364a1-017d-499c-8b6d-29300fd030a6.jpeg);
}
.secPict3 {
    background-image: url(cars/2b214dd6-7e57-4bbc-bb9e-568058446622.jpeg);
}
.secPict4 {
    background-image: url(cars/2e36aec3-ba18-4276-b2d4-62472cfece73.jpeg);
}
.secPict5 {
    background-image: url(cars/f863b486-f10e-429c-907a-9b26b56a1c9e.jpeg);
}
/*
.paints {
    width: 65%;
    height: 90%;
    border-radius: 3px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
.secPict-1-1 {
    background-image: url(cars/0f220e43-b148-41c5-9a67-7f213fd51869.jpeg);
    background-size: contain;
}
.secPict-1-2 {
    background-size: contain;
    background-image: url(cars/2d341dc1-53df-40cf-9932-6299e8b9407c.jpeg);
}


.secPict-2-1 {
    background-image: url(cars/64713093-0812-4845-b8cf-fd00e26033fe.jpeg);
}
.secPict-2-2 {
    background-image: url(cars/d4d364a1-017d-499c-8b6d-29300fd030a6.jpeg);
}

.secPict-3 {
    background-image: url(cars/avto-21-0.png);
}
.secPict-4 {
    background-image: url(cars/1614523760_7-p-tank-na-belom-fone-7.png);
} */

footer {
    margin-top: 100px;
    display: flex;
    height: 200px;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    background-color: rgb(71,71,71);
    color: rgb(255, 255, 255);
    font-family: Andale Mono, monospace;
    font-weight: bold;
    gap: 50px;
    padding: 20px 0;
}

footer>section {
    width: 100%;
    height: 50px;
    /* background-color: turquoise; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
footer section div {
    width: 60px;
    height: 80px;
    /* background-color: hotpink; */
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    box-sizing: border-box;
    border-bottom: 1px solid whitesmoke;
}
footer section div:hover {
    border-top: 1px solid;
}

footer section .img1 {
    background-image: url(Main-links/contact-pictures/phone-solid.svg);
}
footer section .img2 {
    background-image: url(Main-links/contact-pictures/youtube.svg);
}
footer section .img3 {
    background-image: url(Main-links/contact-pictures/instagram.svg);
}
footer section .img4 {
    background-image: url(Main-links/contact-pictures/envelope-solid.svg);
}


footer>div {
    display: flex;
    flex-direction: column;
}

#copi {
    font-family: 'Kelly Slab';
    font-size: x-large;
}

.foot-num {
    max-height: 50px;
}
.foot-em {
    max-height: 50px;

}

footer p:last-child:hover {
    color:rgb(240, 42, 42)
}

.foot-num-1 {
    font-size: 15px;
    margin: 0;
}
.foot-em-1 {
    font-size: 15px;
    margin: 0;
}
.foot-num-2 {
    font-size: 20px;
    margin: 0;
}
.foot-em-2 {
    font-size: 20px;
    margin: 0;
}

@media screen and (min-width: 539px) and (max-width: 992px) {
    .mainImg {
        height: 250px;
        margin-top: 32px;
    }
    .secPict0-p {
        font-size: 25px;
    }
    .secPict0 {
        margin-top: 50px;
    }
    .secPict {
        margin-bottom: 10px;
        /* display: flex;
        justify-content: space-around; */
    }
    .secPict-0 {
        width: 250px;
        height: 240px;
        padding: 0;
    }
    .MI-text1 {
        font-size: 30px;
    }
    .MI-text2 {
        width: 100%;
        height: 30px;
    }
    .MI-text2 p {
        font-size: 15px;
    }
    footer {
        margin-top: 150px;
    }

    .foot-num-1 {
        font-size: 13px;
    }
    .foot-em-1 {
        font-size: 13px;
    }
    .foot-num-2 {
        font-size: 17px;
    }
    .foot-em-2 {
        font-size: 17px;
    }
    .part2 {
        padding: 10px 0;
        font-size: 20px;
        height: 50px;
    }
}


@media screen and (width: 540px) {
    .secPict0 {
        margin-top: 0;
    }
    .secPict {
        margin-bottom: 10px;
        /* display: flex;
        justify-content: space-around; */
    }
    .secPict-0 {
        width: 200px;
        height: 160px;
        padding: 0;
    }
    footer {
        margin-top: 20px;
        font-size: 12px;
    }
    /* .foot-num-1 {
        font-size: 10px;
    }
    .foot-em-1 {
        font-size: 10px;
    }
    .foot-num-2 {
        font-size: 13px;
    }
    .foot-em-2 {
        font-size: 13px;
    }
    .part2 {
        font-size: 15px;
    } */
    
}
@media screen and (width: 912px) {
    .mainImg {
        margin-top: 50px;
    }
    .secPict0 {
        margin-top: 50px;
    }
    .secPict-0 {
        width: 400px;
        height: 280px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .MI-text1 {
        font-size: 30px;
    }
    .MI-text2 {
        font-size: 10px;
    }
    footer {
        margin-top: 170px;
    }
}


@media screen and (max-width: 538px) {
    /* * {
        font-size: 10px;
    } */
    
    .secPict0 {
        height: 70px;
    }
    .secPict0-p {
        font-size: small;
    }
    .mainImg {
        height: 150px;
    }
    .MI-text1 {
        font-size: 20px;
    }
    .MI-text2 {
        height: 20px;
        border-radius: 5px;
    }
    .MI-text2 p {
        font-size: 10px;
    }
    .secPict {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }
    .secPict-0 {
        width: 55%;
        height: 150px;
        /* padding: 0; */
        padding-top: 5px;
        margin-left: auto;
        margin-right: auto;
    }

    header a {
        font-size: small;
    }

    footer {
        margin-top: 20px;
        height: 130px;
        gap: 20px;
    }
    /* .foot-num-1 {
        font-size: 8px;
    } 
    .foot-em-1 {
        font-size: 8px;
    }
    .foot-num-2 {
        font-size: 12px;
    }
    .foot-em-2 {
        font-size: 12px;
    } */
    .part2 {
        font-size: 10px;
    }
    footer section div {
        width: 30px;
        height: 40px;
    }
    #copi {
        font-size: large;
    }
}
@media screen and (width: 280px) {
    nav {
        padding: 0 10px;
    }
    header a {
        font-size: xx-small;
    }
    .secPict0 {
        margin-top: -20px;
    }
    .secPict0-p {
        font-size: x-small;
    }
    .secPict-0 {
        height: 130px;
    }
    .company {
        margin-bottom: 25px;
    }
    /* .MI-text2 {
        height: 15px;
    }
    .MI-text2 p {
        font-size: 10px;
    } */
    /* .foot-num-1 {
        font-size: 8px;
    }
    .foot-em-1 {
        font-size: 8px;
    }
    .foot-num-2 {
        font-size: 10px;
    }
    .foot-em-2 {
        font-size: 10px;
    } */

}