* {
    font-family: 'Kelly Slab';
    /* font-family: 'Ruslan Display'; */
}

body {
    background-image: linear-gradient(to right, rgb(179, 24, 24),rgb(199, 33, 33) , rgb(143, 47, 23));
}

header a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.zaglav {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: x-large;
    margin-bottom: 50px;
    padding: 0 20px;
}

.zaglav>p:nth-child(2) {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.zaglav>ul {
    width: 70%;
}

.zaglav>p:first-child {
    text-align: center;
    font-size: xx-large;
}
.zaglav>p:first-child:after {
    content: "";
    display: block;
    width: 90%;
    height: 1px;
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
}

.primers {
    background-color: white; 
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    gap: 5px;
}

.primers>p {
    font-size: xx-large;
    color: rgb(71, 71, 71);
    text-shadow: rgb(156, 156, 156) 1px 1px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.primer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px; 
    flex-direction: row;
    width: 90%;
    height: 300px;
    margin-left: auto; 
    margin-right: auto;
    font-size: xx-large; 
    border-left: 10px rgb(71, 71, 71) solid;
    border-right: 10px rgb(71, 71, 71) solid;
    border-radius: 10px;
    border-width: 8px;
    gap: 5px;
}

.pict {
    width: calc(50% - 7.5px);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    border-radius: 10px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.txt {
    width: 100px; 
    text-align: center;
    font-weight: bolder;
    color: rgb(255, 255, 255, 0.7);
    text-shadow: 2px 2px rgb(82, 82, 82);
}


@media screen and (min-width: 539px) and (max-width: 992px) {
    .primer {
        height: 200px;
    }
    .zaglav {
        margin: 15px 0;
    }
}

@media screen and (width: 820px) and (width: 768px) and (width: 912px) {
    footer {
        margin-top: 283px;
    }
} 
@media screen and (max-width: 540px){
    header a {
        font-size: small;
    }
    .primer {
        height: 100px;
        width: 200px;
        border-width: 5px;
    }
    .pict {
        width: 90%;
    }
    .zaglav {
        font-size: 10px;
        margin-bottom: 10px;
    }
    footer {
        margin-top: 76px;
        font-size: small;
    } 
    .zaglav>p:first-child {
        font-size: x-large;
    }
    .zaglav>p:last-child {
        font-size: large;
    }
    .primers>p {
        font-size: large;
    }
    header ul{
        padding-left: 0;
    }
}

@media screen and (width: 280px){
    .primer {
        height: 75px;
    }
    .zaglav P:first-child{
        font-size: medium;
    }
    header a {
        font-size: xx-small;
    }
}