/* option1 */

.opt1-prt1 {
    background-image: url(../options/options-pictures/opt1-pictures/d4d364a1-017d-499c-8b6d-29300fd030a6.jpeg);  
}
.opt1-prt2 {
    background-image: url(../options/options-pictures/opt1-pictures/d4d364a1-017d-499c-8b6d-29300fd030a6.jpeg);
}
.opt1-prt3 {
    background-image: url(../options/options-pictures/opt1-pictures/d4d364a1-017d-499c-8b6d-29300fd030a6.jpeg);   
}
.opt1-prt4 {
    background-image: url(../options/options-pictures/opt1-pictures/d4d364a1-017d-499c-8b6d-29300fd030a6.jpeg);   
}
.opt1-prt5 {
    background-image: url(../options/options-pictures/opt1-pictures/d4d364a1-017d-499c-8b6d-29300fd030a6.jpeg);   
}
.opt1-prt6 {
    background-image: url(../options/options-pictures/opt1-pictures/d4d364a1-017d-499c-8b6d-29300fd030a6.jpeg);   
}

/* option2 */

.opt2-prt1 {
    background-image: url(../options/options-pictures/opt2-pictures/d4d364a1-017d-499c-8b6d-29300fd030a6.jpeg);  
}
.opt2-prt2 {
    background-image: url(../options/options-pictures/opt2-pictures/d4d364a1-017d-499c-8b6d-29300fd030a6.jpeg);
}
.opt2-prt3 {
    background-image: url(../options/options-pictures/opt2-pictures/0f220e43-b148-41c5-9a67-7f213fd51869.jpeg);
    /* background-size: contain; */
}
.opt2-prt4 {
    background-image: url(../options/options-pictures/opt2-pictures/2d341dc1-53df-40cf-9932-6299e8b9407c.jpeg);   
    /* background-size: contain;    */
}
.opt2-prt5 {
    background-image: url(../options/options-pictures/opt2-pictures/1c133bdc-35e8-4e9a-a3c4-97230273c414.jpeg);   
}
.opt2-prt6 {
    background-image: url(../options/options-pictures/opt2-pictures/6cd3c61a-d71b-402b-a1d9-ec59fc574dfc.jpeg);   
}
.opt2-prt7 {
    background-image: url(../options/options-pictures/opt2-pictures/729f7171-fc88-4a9f-a571-5c61b48a4fd6.jpeg);
}
.opt2-prt8 {
    background-image: url(../options/options-pictures/opt2-pictures/213c58ff-74a6-4a06-a350-173e8691bc8f.jpeg);   
}
.opt2-prt9 {
    background-image: url(../options/options-pictures/opt2-pictures/a9665292-c8a1-40c7-805f-ea99ffe02428.jpeg);   
}
.opt2-prt10 {
    background-image: url(../options/options-pictures/opt2-pictures/f96ddd64-ee96-4057-982b-cafb51689dbf.jpeg);   
}